body{
    background-image: linear-gradient(#000033,#000080);
    color: white;
    text-align: center;
    padding-left: 18px;
}
fieldset{
    background-color: grey;
    color: white;
    font-size: 18px;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
}
#submit{
    height: 20px;
    width: 90%;
    background-color: green;
    border-color: blue;
    align-content: center;
}
#name-label,#email-label,#number-label{
    border-color: blue;
    width: 90%;
    height: 20px;
}
textarea{
    width:90%;
    border-color: blue;
}
select{
    width: 90%;
    border-color: blue;
}
#title{
    color: #f0f0f0;
    text-shadow: red 1px 1px;
}